@tailwind base;
/* ============ Custom CSS ============ */
@layer base {
  h1 {
    @apply text-4xl;
    font-family: 'Josefin Slab';
  }
  h2 {
    @apply text-3xl;
    font-family: 'Josefin Slab';
  }
  h3 {
    @apply text-2xl;
    font-family: 'Josefin Slab';
  }
  h4 {
    @apply text-xl;
    font-family: 'Josefin Slab';
  }
  h5 {
    @apply text-lg;
    font-family: 'Josefin Slab';
  }
  h6 {
    @apply text-base;
    font-family: 'Josefin Slab';
  }
  p {
    @apply text-sm;
    font-family: 'Public Sans';
  }
  @font-face {
    font-family: 'Public Sans';
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: 'Josefin Slab';
    src: url(../fonts/JosefinSlab-VariableFont_wght.ttf);
  }
}
/* ==================================== */
@tailwind components;
@tailwind utilities;
