@tailwind base;

@layer base {
  /* =========== Custom Fonts ============ */
  @font-face {
    font-family: 'Public Sans';
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: 'Josefin Slab';
    src: url(../fonts/JosefinSlab-VariableFont_wght.ttf);
  }
  /* ========== Typography Fix ========== */
  img {
    @apply !m-0;
  }
  /* ========== Custom Styles =========== */
  * {
    @apply text-gray-900;
  }
  ::selection {
    @apply bg-yellow-300;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-serif;
  }
  p {
    @apply font-sans;
  }
  a {
    @apply !no-underline shadow-link transition-all duration-300 hover:shadow-hover;
  }
}
/* ==================================== */
@tailwind components;
@tailwind utilities;
